extends layout_blog

block content
  div.content-block.new-content
    h2.title
      strong=category.name + '(' + totalLen + ')'

    div.row
      each post in posts
        div.news-list
          div.news-info
            dl
              dt
                a(href="/blogs/view/" + post._id)= post.title
              dd

                span.name
                  i.fa.fa-user-circle &nbsp;
                  = post.author.name
                span.identity
                span.time
                  i.fa.fa-clock-o &nbsp;
                  = moment(post.created).format('YYYY-MM-DD HH:mm:ss')
              dd.text= truncate(post.summary, 160)
            div.news_bot
              span.tags.visible-lg.visible-md
                each tag in post.labels
                  a(href="#")= tag


    div.quotes(style="margin-top:15px")
      if pageCount == 1
        span.disabled 首页
        span.disabled 上一页
        span.current 1
        span.disabled 下一页
        span.disabled 尾页
      else if pageCount > 1
        if pageNum == 1
          span.disabled 首页
          span.disabled 上一页
        if pageNum > 1
          a(href="/blogs/category/" + category.name + "?page=1") 首页
          a(href="/blogs/category/" + category.name + "?page=" + (pageNum - 1)) 上一页
        if pageNum > 4
            a(href="javascript:void(0)") ...
        - var currentPage = start
        while currentPage <= end
          if currentPage === pageNum
              span.current= currentPage++
          else
              a(href="/blogs/category/" + category.name + "?page=" + currentPage)= currentPage++

        if pageNum < pageCount - 4
            a(href="javascript:void(0)") ...
        if pageNum < pageCount
          a(href="/blogs/category/" + category.name + "?page=" + (pageNum + 1)) 下一页
          a(href="/blogs/category/" + category.name + "?page=" + pageCount) 尾页
        if pageNum == pageCount
          span.disabled 下一页
          span.disabled 尾页
