extends layout_blog

block content
  if keywords == 1
    div#carousel-example-generic.carousel.slide(data-ride="carousel")
      ol.carousel-indicators
        li.active(data-target="#carousel-example-generic", data-slide-to="0")
      div.carousel-inner(role="listbox")
        div.item.active
          a(href="#")
            img(src="images/img1.jpg")
          div.carousel-caption 放这张图片你有意见么
          span.carousel-bg
      a.left.carousel-control(href="#carousel-example-generic", data-slide="prev", role="button")
        span.fa.fa-angle-left(aria-hidden="true")
      a.right.carousel-control(href="#carousel-example-generic", data-slide="next", role="button")
        span.fa.fa-angle-right(aria-hidden="true")
  div.content-block.new-content
    h2.title
      strong 文章列表

    div.row
      each post in posts
        div.news-list
          div.news-info
            dl
              dt
                a(href="/blogs/view/" + post._id)= post.title
              dd

                span.name
                  i.fa.fa-user-circle &nbsp;
                  = post.author.name
                span.identity
                span.time
                  i.fa.fa-clock-o &nbsp;
                  = moment(post.created).format('YYYY-MM-DD HH:mm:ss')
              dd.text= truncate(post.summary, 160)
            div.news_bot
              span.tags.visible-lg.visible-md
                each tag in post.labels
                  a(href="/blogs/tag/" + tag)= tag


    div.quotes(style="margin-top:15px")
      if pageCount == 1
        span.disabled 首页
        span.disabled 上一页
        span.current 1
        span.disabled 下一页
        span.disabled 尾页
      else if pageCount > 1
        if pageNum == 1
          span.disabled 首页
          span.disabled 上一页
        if pageNum > 1
          a(href="/blogs?page=1") 首页
          a(href="/blogs?page=" + (pageNum - 1)) 上一页
        if pageNum > 4
            a(href="javascript:void(0)") ...
        - var currentPage = start
        while currentPage <= end
          if currentPage === pageNum
              span.current= currentPage++
          else
              a(href="/blogs?page=" + currentPage)= currentPage++

        if pageNum < pageCount - 4
            a(href="javascript:void(0)") ...
        if pageNum < pageCount
          a(href="/blogs?page=" + (pageNum + 1)) 下一页
          a(href="/blogs?page=" + pageCount) 尾页
        if pageNum == pageCount
          span.disabled 下一页
          span.disabled 尾页
